

body{


    font-family: "Gabarito", sans-serif;
}
.navbar{
    display:flex;
   padding:10px;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap:10px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    
}
.navbar-s1
{
    color: #BA2AF0;
    padding:10px;
    gap:10px
}
.navbar-s2{
    width: 50%;
    border:solid black 1px;
    padding:10px;
    display:flex; 
    gap:10px;
    border-radius: 30px;
    align-items: center;
   


}
.fa-solid fa-magnifying-glass
{
   justify-content: center;
}

.navbar-s2 input
  {
  width :100%;
    padding:10px;
    border:none;
    font-size: 16px; background-color: transparent;
}
.navbar-s2 input:focus{
   outline: none;

}



.navbar-s3
{
    padding:10px;
    display: flex;
    gap:10px;
    align-items: center;
}


.mylearning{
position: relative;
cursor: pointer; 

}
.mylearning__popup
{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100%;
    right: 10px;
    padding: 10px;
    top: 100%;
    display: none;

}

.mylearning:hover .mylearning__popup {

    display: block;
}


.categories{
    

    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    border-bottom: solid black 1px;
  
  
}

.categories p:hover{

background-color: transparent;
color: black;
border: 1px solid #BA2AF0;


}
 
.categories p{
    border: solid black 1 px;
    background-color: #BA2AF0;
    padding:5px;
    border-radius: 30px;
    border: 1px solid #BA2AF0;

}
.sale-image img{
    width: 100%;
   
}

.sale-image{
    position: relative;
}
.sale__offer{
position: absolute;
left:50px;
top:80px;
width: 450px;
height: 150px;
padding: 10px;
background-color: #D6D2CC;
border: solid black 1px;
color: #733F2D;

animation-name: zoom;
animation-duration: 2s;
opacity: 0;
animation-fill-mode:forwards ;
}


@keyframes zoom 
{

    0%{

        transform: scale(0);
        opacity: 0;
    }

    
    100%
    {
transform: scale(1);
opacity: 1;
    }
}

.recommended
{
    
}
.recommended__container
{
    display: flex;
    justify-content: space-between;
    gap:10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.recommended__card
{
    width:300px;
}
.recommended__card img{
    height: 50%;
    width:100%;
}
.topics{
    padding:10px;
}
.topics__container
{
    display: flex;
flex-wrap: wrap;
    gap:10px;

}
.topics__container p
{
padding: 10px;
border: solid grey 1px;
flex-grow: 1;
flex-basis: 25%;
}
.popular
{
    padding: 10px;;
}
.popular__container
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.footer{
  background-color: black;
  color: white;
}
.footer__section1
{
    padding: 10px;
}
.footer__section2
{
    padding:10px;
}
.footer__section1
{
   display: flex;
   gap: 20px;
   padding:10px;


}
.footer__section2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__section1 p{
 margin: 20px;
}